@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700');


body {
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #18140a;
    min-height: 100vh;
    margin: 0;
}

.header {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: center;
    margin: 25px 0 30px 0;
    color: #DDDDDD;
    font-size: 28px;
    letter-spacing: 10px;

}

/* ------Board------- */

.board {    
    box-shadow: #EEEE00 0 0 5px;
    border: 2px solid #F2C968;
}

.sudokuBoard {
    display: flex;
    flex-wrap: wrap;
    width: 540px;
}

.sudokuTile {
    height: 60px;
    width: 60px;
    text-align: center;
    font-size: 30px;
    box-sizing: border-box;
    padding: 0;
    padding-left: 18px;
    border: .5px solid #DDDDDD;
    font-family: 'Open Sans', sans-serif;
    color: #f28468;
    text-shadow: #f28468 0 0 10px;
    background: none;
}

.sudokuTile:focus,
.sudokuTile:active {
    border: 3px solid #F3E7A9;
    outline: none;
}

.sudokuTile:nth-of-type(9n+3),
.sudokuTile:nth-of-type(9n+6) {
    border-right: 3px solid #F3E7A9;
}

.sudokuTile:nth-child(n+19):nth-child(-n+27),
.sudokuTile:nth-child(n+46):nth-child(-n+54) {
    border-bottom: 3px solid  #F3E7A9;
}

.sudokuTileBlock {
    text-shadow: #EEEE00 0 0 10px;
    color: #F2C968;
    pointer-events: none;
}

/* ------Buttons------- */

.btnWrapper {
    display: flex;
    flex-direction: column;
    width: 540px;
    margin: 0 0 50px 0;
}

.btnRow {
    display: flex;
    justify-content: space-around;
    margin: 45px 0 -20px 0;
}

.btn {
    padding: 8px 18px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #656868;
    background: #f8e2ae;
    box-sizing: border-box;
    transition: 100ms;
}

.btnLvl {
    background: none;
    color: #656868;
}

.btn:active,
.btn:focus {
    outline: none;
}

.btn:hover {
    font-size: 22px;
    transition: 100ms;
    background: #f8e2ae;
}

.selected {
    background: #f8e2ae;
}

 /* do podświetlenia - przedziały n+9 - jeśli liczba jest z przedziału podświetl przedział */